<div
    *ngIf="!questionState.setQuestionsError; else noquestions"
    class="container-accent"
    ngClass="container-questions">
    <div class="route-container">
        <div fxLayout="row" fxLayoutAlign="center start">
            <app-progress-bar></app-progress-bar>
        </div>
        <app-questions-list></app-questions-list>  
    </div>
</div>
<ng-template #noquestions>
    <div class="container-accent" ngClass="container-questions">
        <app-no-questions></app-no-questions>
    </div>
</ng-template>
